/*Desarollador: Luana Alvarez*/

@font-face{
    font-family: Infinity;
    src: url('../fonts/Infinity/MADEINFINITY\ PERSONALUSE-Medium.otf');
}
@font-face{
    font-family: LouisGeorge;
    src: url('../fonts/LouisGeorgeCafe/Louis\ George\ Cafe.ttf');
}
@font-face{
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}


main
{
    display: flex;
    justify-content: center;
}

header
{
    display: grid;
    justify-content: center;
    padding: 3rem;
    margin:auto;
}


h1
{
    font-family: 'Infinity';
}

h3
{
    font-family: 'LouisGeorge';
    margin:2rem;
    margin-top: 2rem;
}

#texto
{
    justify-content: left;
    align-self: center;
    align-items: center;
    margin: 1rem;
    padding: 0%;
}

#aside{
    background-color: rgb(234, 234, 234);
    width: 30%;
    height:4rem;
    margin-left: -8%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

#boton
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

#nuevo
{
    width:3rem;
    height:3rem;
    border-radius: 50%;
    /* margin-top: 1.5%; */
    border-color:transparent;
    background-color: rgb(87,150,186);
    color: rgb(255,255,255);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#nuevo:hover
{
    background-color: rgb(44, 118, 160);
}

#productos
{
    background-color: rgb(234, 234, 234);
    border-radius: 15px;
    display:grid;
    height: 57rem;
    justify-content: center;
    margin: 6%;
    margin-top: 0%;
    overflow: auto;
}

#imagen
{
    width:25rem;
    height:20rem;
}

#imagen:hover
{
    scale: 1.08;
}
#perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
}


p
{
    margin:1rem;
}