<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="../Statics/media/puntosPrepa/patiosextos.jpg" usemap="#image-map" id="img">
    <map name="image-map">
        <area id="prueba" target="_self" alt="" title="" href="" coords="465,478,239,331" shape="rect">
    </map>
    <br><br><br><br><br>
<button id="btn">Back</button>
    <script src="../Dynamics/js/prueba.js"></script>
</body>
</html>