<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../libs/bootstrap-5.3.0-dist (1)/bootstrap-5.3.0-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../Statics/styles/publicarProducto.css">
    <link rel="stylesheet" href="../Statics/styles/navs.css">
    <link rel="icon" href="../Statics/media/logo.png" type="image/icon">
    <title>Publicar Producto</title>
</head>
<body>
    <!-- NAV -->
    <nav>
      <section class="img">
          <img src="../Statics/media/logo.png" alt="Red Coyote" id="prepa6">
          <!-- <img src="../Statics/media/EscudoP6.jpg" alt="ENP6" id="prepa6"> -->
          <!-- <img src="../Statics/media/EscudoUNAM.jpg" alt="UNAM" id="UNAM"> -->
      </section>
      <section class="pags">
          <article class="pagRedireccion" id="pagPrincipal">Pagina principal</article>
          <article class="pagRedireccion" id="ventas">Ventas</article>
          <article class="pagRedireccion" id="objPerdidos">Objetos perdidos</article>
          <article class="pagRedireccion" id="comunidad">Comunidad P6</article>
          <article class="fotoUsuario" id="perfil"><!--Foto de usuario BD--></article>
      </section>
  </nav>

      <!-- Header -->
      <header><h1>Nuevo Producto</h1></header>

      <!--- Contenido --->
      <div id="nuevoProducto">
        <div class="row">
          <div class="col-7" id="centrar">
             <!--- Form --->
              <div class="producto" id="centrar">
                  <form id="form-producto">
                      <div class="d-grid gap-2 col-5 mx-auto" id="nombre"><input type="text" class="form-control" id="placeholder" placeholder="Nombre del Producto" name="nombre" required></div>
                      <div class="d-grid gap-2 col-10 mx-auto" id="imagenes">
                          <img src="../Statics/media/publicarProducto/img.jpg" class="img-fluid" id="default">
                          <div class="d-grid gap-2 col-12 mx-auto">
                              <input class="form-control" accept=".jpg" accept="image/*" type="file" name="arch" id="img" extrequired>
                          </div>
                      </div>
                      <div class="d-grid gap-2 col-10 mx-auto">
                          <label class="texto" id="Descripción">Descripción:</label>
                          <textarea class="form-control" id="Descripción" rows="3" name="descripcion" required maxlength="500"></textarea>
                      </div>
                      <div class="down">
                          <div class="d-grid gap-2 col-2 mx-auto">
                              <label class="texto">Costo:</label>
                              <input type="number" class="form-control" id="transparent" placeholder="$00.00" name="costo" required>
                          </div>
                          <div class="d-grid gap-2 col-3 mx-auto">
                              <label class="texto">Fecha de inicio de venta:</label>
                              <input type="date" id="transparent" class="form-control" name="fecha" required>
                          </div>
                      </div>
              </div>
          </div>
          <div class="col-5" id="centrar">
            <!-- Puntos de venta y horarios -->
              <div class="horarios" id="centrar">
                <h3>Punto de venta y horario</h3>
                <div class="d-grid gap-2 col-10 mx-auto">
                  <img src="../Statics/media/puntosPrepa/mapa.jpg" class="img-fluid" id="mapa" usemap="#image-map">
                  <button id="btn-back">Regresar</button>
                  <map name="image-map">
                    <area target="" id="Entrada" alt="Entrada" title="Entrada" href="" coords="179,194,199,223" shape="rect">
                    <area target="" id="PatioSextos" alt="Patio de Sextos" title="Patio de Sextos" href="" coords="168,139,187,169" shape="rect">
                    <area target="" id="PatioCuartos" alt="Patio de Cuartos" title="Patio de Cuartos" href="" coords="136,92,157,121" shape="rect">
                    <area target="" id="PatioQuintos" alt="Patio de Quintos" title="Patio de Quintos" href="" coords="106,43,125,70" shape="rect">
                    <area target="" id="Pulpo" alt="Pulpo" title="Pulpo" href="" coords="71,1,90,26" shape="rect">
                    <area target="" id="Mesas" alt="Mesas" title="Mesas" href="" coords="179,6,200,35" shape="rect">
                    <area target="" id="Canchas" alt="Canchas" title="Canchas" href="" coords="267,25,285,55" shape="rect">
                    <area target="" id="Biblio" alt="Biblio" title="Biblio" href="" coords="302,104,282,76" shape="rect">
                    <area target="" id="Pimpos" alt="Pimpos" title="Pimpos" href="" coords="254,109,275,138" shape="rect">
                    <area target="" id="h" alt="h" title="Los h´s" href="" coords="294,128,314,156" shape="rect">
                    <area target="" id="Vestidores" alt="Vestidores" title="Vestidores" href="" coords="375,53,356,25" shape="rect">
                  </map>
                </div>
                  <div class="mapayhorarios">
                        <div class="d-grid gap-2 col-5 mx-auto">
                          <label class="texto">Lugar</label>
                            <select name="lugar" class="form-select" id="lugar" required>
                              <option disabled selected></option>
                              <option value="Entrada">Entrada</option>
                              <option value="Patio de Sextos">Patio de Sextos</option>
                              <option value="Patio de Cuartos">Patio de Cuartos</option>
                              <option value="Patio de Quintos">Patio de Quintos</option>
                              <option value="Pulpo">Pulpo</option>
                              <option value="Mesas">Mesas</option>
                              <option value="Canchas">Canchas</option>
                              <option value="Pimponeras">Pimpos</option>
                              <option value="Los H">Los H</option>
                              <option value="Biblioteca">Biblio</option>
                              <option value="Vestidores">Vestidores</option>
                            </select>
                        </div>
                        <div class="d-grid gap-2 col-4 mx-auto">
                          <label class="texto">Horario:</label>
                          <input type="time"  min="7:00" max="21:00" id="transparent" class="form-control" name="hora" required>
                        </div>
                  </div>
                </form>
              </div>
            <!-- Datos de Contacto -->
              <div class="contacto" id="centrar">
                <h3>Datos de contacto</h3>
                <div class="texto">Recuerda que tus datos de contacto son los que registraste en <a href="../perfil...">tu perfil</a>.</div>
                <div id="celular">
                  <div id="content">
                    <img src="../Statics/media/publicarProducto/cel.png" class="img-fluid" id="cel">
                    <div id="text">55 </div>
                  </div>
                </div>
                <div id="instagram">
                  <div id="content2">
                    <img src="../Statics/media/publicarProducto/ig.png" class="img-fluid" id="ig">
                    <div id="text">@</div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="derecha" ><button type="submit" id="btn-publicar">Publicar</button></div>
      </div>
      </div>
      <br><br>

      <script src="../Dynamics/js/publicarProducto.js"></script>
      <script src="../libs//bootstrap-5.3.0-dist (1)/bootstrap-5.3.0-dist/js/bootstrap.bundle.js"></script>
</body>
</html>